.container{
    position:relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .bubbles{
    position: relative;
    display: flex;
  }
  .bubbles span{
    position: relative;
    width: 20px;
    height: 20px;
    background: #4abaf7;
    margin: 0 20px;
    border-radius: 100%;
    box-shadow: 0 0 0 5px #166f9f, 0 0 50px #4abaf7, 0 0 100px #4abaf7;
    animation: animate 15s linear infinite;
    animation-duration: calc(70s / var(--i));
  }
  .bubbles span:nth-child(even){
    background: #61f74a;
    box-shadow: 0 0 0 5px #219f16, 0 0 50px #6df74a, 0 0 100px #67f74a;
  }
  
  @keyframes animate{
    0%{
      transform: translateY(100vh) scale(0);
    }
    100%{
      transform: translateY(-10vh) scale(1);
    }
  }